<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>

    @*GOOGLE FONTS*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Urbanist:wght@100;200;300;400;500&display=swap" rel="stylesheet">



    @*CDN JQUERY 3.5.1 MIN JS*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


    <link href="~/lib/splideJs/package/dist/css/splide.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm ">
            <div class="container d-flex justify-content-between">
                <a class="navbar-Logo pr-lg-5" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/FoodyLogo.svg" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse pl-lg-5 collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#aboutUs" class="nav-link">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a href="#service" class="nav-link">SERVICES</a>
                        </li>
                        <li class="nav-item">
                            <a href="#team" class="nav-link">TEAM</a>
                        </li>
                        <li class="nav-item">
                            <a href="#reservation" class="nav-link">RESERVATION</a>
                        </li>
                        <li class="nav-item">
                            <a href="#review" class="nav-link">REVIEWS</a>
                        </li>
                    </ul>

                    <a class="btn-contactUs" asp-action="Index" asp-controller="ConsultaRestaurant">
                        Contact us
                    </a>

                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @*ABM*@
    <div class="modal" tabindex="-1" role="dialog" id="form-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/splideJs/package/dist/js/splide.js"></script>
    <script src="~/lib/splideJs/package/dist/js/splide-renderer.min.js"></script>

    @*CDN JQUERY 3.5.1 MIN JS*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
