@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact Us";
}


<div class="container" id="contactUs" style="">
    <h1>JOIN OUR TEAM</h1>
    <p>Contact us!</p>
</div>

    <div class="contactUs-form">
        <div class="form-block">
            <form id="reservation-form">
                <div class="grid-container">
                    <input type="text" class="text-field" name="Firs-Name" data-name="First Name" placeholder="First Name" id="First-Name" required />

                    <input type="text" class="text-field" name="Last-Name" data-name="Last Name" placeholder="Last Name" id="Last-Name" required />

                    <input type="date" class="text-field" name="Date" data-name="Date" placeholder="Date" id="Date" required />

                    <input type="time" class="text-field" name="Time" data-name="Time" placeholder="Time" id="Time" required />

                    <input type="email" class="text-field" name="Email" data-name="Email" placeholder="Email" id="Email" required />

                    <input type="tel" class="text-field" name="PhoneN" data-name="PhoneN" placeholder="Phone Number" id="PhoneN" required />
                </div>
                <br />
                <button type="submit" class="btn-contactUs" style="text-align:center;">Reserve now</button>
            </form>
        </div>
    </div>
