@{
    ViewData["Title"] = "Foody";
}
<!--HOME-->
<div class="container" id="home">
    <div class="row mt-5 mb-5">
        <div class="col title-Home">
            <p>Delicious</p>
            <p class="text-center">Food</p>
            <p class="text-right">Dishes</p>

            <img class="img-home-1" src="~/images/food-home1.png" />

            <img class="img-home-2" src="~/images/food-home2.png" />

            <img class="img-logo" src="~/images/FoodieLogo.svg" />
        </div>
    </div>
</div>

<!--ABOUT US-->
<section class="aboutUs-wrapper">
    <div class="container" id="aboutUs">
        <div class="row">
            <div class="col-6 pr-5 d-flex align-items-center">
                <div>
                    <h2>ABOUT US</h2>

                    <p class="subtitulo mb-5">The only thing we're serious about is food.</p>

                    <p>Fusce quam praesent enim enim. Arcu ornare maecenas mauris tellus ut mollis. Laoreet enim amet donec nulla risus erat sed. Scelerisque ac cum nulla massa ultricies etiam augue justo, amet. Fermentum ac viverra tincidunt neque, tristique duis nunc lacus quam. Pharetra, in pharetra</p>
                    <button type="button" class="mt-3 btn-contactUs">
                        Contact us
                    </button>
                </div>

            </div>

            <div class="col-6">
                <img src="~/images/food-aboutUs.png" />
            </div>
        </div>
    </div>
</section>

<!--SERVICE-->
<section class="container" id="service">
    <div class="row">
        <div class="col-4">
            <img src="~/images/service-img1.svg" />
            <h3>QUALITY FOOD</h3>
            <p>Cras faucibus sodales velit viverra donec commodo volutpat. At integer quam fusce sit.</p>
        </div>

        <div class="col-4">
            <img src="~/images/service-img2.svg" />
            <h3>SUPER TASTE</h3>
            <p>Ipsum tempus sed sit tincidunt sed adipiscing semper natoque. Est id praesent libero egestas.</p>
        </div>

        <div class="col-4">
            <img src="~/images/service-img3.svg" />
            <h3>FAST DELIVERY</h3>
            <p>Ipsum tempus sed sit tincidunt sed adipiscing semper natoque. Est id praesent libero egestas.</p>
        </div>
    </div>
</section>


<!--MENU-->
<section class="container" id="menu">
    <div class="row">
        <div class="col text-center mb-3">
            <h3>POPULAR DISHES</h3>
            <p>Morbi in sed enim viverra aenean amet. A commodo nunc mauris, in accumsan facilisi montes, neque venenatis.</p>
        </div>
    </div>
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 col-sm-12 ">
            <div class="menu-wrapper">
                <img class="menu-img" src="~/images/img-menu1.png" />
            </div>
            <div class="menu-tag">Lunch</div>
            <h4> Beef burger meal</h4>
        </div>

        <div class=" col-lg-3 col-md-6 col-sm-12 mx-auto ">
            <div class="menu-wrapper">
                <img class="menu-img" src="~/images/menu-img2.jpg" />
            </div>
            <div class="menu-tag">Dinner</div>
            <h4>ROASTED LAMB RUMP</h4>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 ">
            <div class="menu-wrapper">
                <img class="menu-img" src="~/images/menu-img3.png" />
            </div>
            <div class="menu-tag">Breakfast</div>
            <h4>PAN SEARED SEA BASS</h4>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 ">
            <div class="menu-wrapper">
                <img class="menu-img" src="~/images/menu-img4.png" />
            </div>
            <div class="menu-tag">Dinner</div>
            <h4>CITRUS CURED SALMON</h4>
        </div>

    </div>
</section>

<!--INFORMATION-->
<section id="info">
   
        <div class="info-wrapper">

            <div>
                <div>
                    <h4>14</h4>
                    <div class="info-text">Restaurants</div>
                </div>
                <div>
                    <h4>20</h4>
                    <div class="info-text">Chef in kitchen</div>
                </div>
            </div>

            <div class="info-img">
                <img  src="~/images/info-img.png" />
            </div>


            <div>
                <div>
                    <h4>12</h4>
                    <div class="info-text">Years of experience</div>
                </div>
                <div>
                    <h4>200</h4>
                    <div class="info-text">Food dishes</div>
                </div>
            </div>

        </div> 

</section>
